@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
    outline: none;
    
}



.scroll-down {
    transform: translateY(-51px);
    -moz-transform: translateY(-37px);
    -webkit-transform: translateY(-37px);
}


.header {
    width: 100vw;
    min-width: 320px;
    background: rgba(110, 118, 241, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(5px); /* Note: backdrop-filter has minimal browser support */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}

.headers {
    /*width: 100%;*/
    /*position: relative;*/
    background: rgba(110, 118, 241, 0.7);
    mix-blend-mode: normal;
    backdrop-filter: blur(7px);
    padding-left: 5%;
    padding-right: 5%;
    /*z-index: 999;*/
}

.preheader,
.nav-menu {
    display: none;
}

.nav-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.nav-wrap>.logo {
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    outline: none;
}

.nav-wrap>.mobile-menu-button {
    margin-top: 2.43%;
    margin-bottom: 2.43%;
    width: 7,5%;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    transform: translateY(-300%);
    transition: 0.3s;
    padding-left: 5%;
}

.mobile-menu .mobile-menu-link {
    border-bottom: 1px solid rgba(13, 5, 37, 0.1);
    padding-top: 15px;
    padding-bottom: 13px;
}

.mobile-menu .mobile-menu-link:last-child {
    border-bottom: none;
}

.main-header {
    width: 100%;
    min-width: 320px;
    height: 420px;
    padding-top: 164px;
    padding-bottom: 43.125%;
    margin-bottom: 15.625%;
    background-image: url('../images/image-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    white-space: normal;
}

.header-title {
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 27px;
    color: white;
}

.header-title h4 {
    white-space: pre-line;
}

.header-title .first {
    /*font-style: normal;
    font-weight: bold;
    font-size: 32px;*/
    /*background: #757CD5;*/
    background: rgba(117, 124, 213, 0.7);
    
}

.header-title .second {
    /*font-style: normal;*/
    font-weight: 500;
    font-size: 20px;
    /*background: #757CD5;*/
    background: rgba(117, 124, 213, 0.7);
}

/* adults courses(frontend, marketing, copywriting) info */

.adults {
    /*width: 95%;
    min-width: 304px;
    margin: 0 auto;*/
    min-width: 320px;
    font-family: Montserrat;
}

.adults__title {
    width: 94.74%;
    margin: 0px auto 0px  auto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

/*.courses-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}*/

.courses-wrapper {
    width: 100%;
    min-width: 304px;
    margin-top: 7.895%;
    margin-bottom: 20px;
    /*overflow: hidden;
    position: relative;
    z-index: 1;*/
}
.courses-list {
    display: flex;
    position: relative;
    top: 0;
    left: -100%;
    /*left: -400px;*/
    /*width: 10000px;*/
    width: 500%;
}

.courses-list.shifting {
    transition: left .2s ease-out;
}

/* adults course frontend */

.course-frontend {
    /*width: 20%;*/
    background: #ffffff;

    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin: 8px auto;
    box-sizing: border-box;
    outline: none;
}

.frontend__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.frontend__content {
    width: 94.74%;
    margin: 0 auto;
}

.frontend__decription-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.frontend__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}

.learn-more {
    width: 33.22%;
    max-width: 101px;
    
    margin: 24px auto;
    /*margin-left: 33.22%;*/
    /*margin-left: calc(50% - 101px/2);
    margin-bottom: 7.895%;*/
    
}

.get-info {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.get-info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
}

.get-info .arrow-right {
    width: 6%;
    color: #505565;
}



/* adults course marketing */

.course-marketing {
    /*width: 20%;*/
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 8px;
    /*margin-bottom: 16.78%;*/
    outline: none;
}

.marketing__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.marketing__content {
    width: 94.74%;
    margin: 0 auto;
}

.marketing__description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.marketing__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}

/* adult course copywriting */

.course-copywriting {
    /*width: 20%;*/
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin-top: 8px;
    /*margin-bottom: 17.44%;*/
    outline: none;
}

.copywriting__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.copywriting__content {
    width: 94.74%;
    margin: 0 auto;
}

.copywriting__decription-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.copywriting__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}

.course-copywriting>.learn-more {
    width: 15.13%;
    max-width: 47px;
    /*margin-left: 33.22%;*/
    margin-left: calc(50% - 47px/2);
    margin-bottom: 7.89%;
}

.course-copywriting>.learn-more p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
}

/* controlller buttons */
.controls {
    width: 40%;
    position: relative;
    margin: 0 auto;
    margin-top: 5.25%;
    text-align: center;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
    width: 7px;
    height: 7px;
    top: 3px;
}
.radio + label {
	position: relative;
	padding: 0 0 0 15px;
	cursor: pointer;
}
.radio + label:before {
	content: '';
	position: absolute;
	top: 1px;
    left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
    background: rgba(35, 39, 53, 0.3);
    top: 3px;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #505565;
	opacity: 0;
    transition: .2s;
    top: 3px;
}
.radio:checked + label:after {
	opacity: 1;
}

/* child courses(programming, eanglish) */
.childs {
    width: 100%;
    min-width: 320px;
    /*margin: 0 auto;*/
    font-family: Montserrat;
    background: #FAFAFC;
    padding-top: 15.625%;
}

/*.childs__content {
    width: 95%;
    min-width: 304px;
    margin: 0 auto;
    
}*/

.childs__title {
    width: 94.74%;
    margin: 0px auto 7.895% auto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.childs .courses-wrapper {
    /*width: 95%;*/
    min-width: 304px;
    margin: 0 auto;
    margin-top: 7.895%;
    padding-bottom: 20px;

}

.childs .courses-list {
    display: flex;
    position: relative;
    top: 0;
    left: -100%;
    width: 400%;
    /*left: -400px;*/
    /*width: 10000px;*/
}

/* childs course programming */

.course-programming {
    width: 25%;
    background: #ffffff;
    /*box-shadow: 0px 1px 8px rgba(61, 44, 111, 0.1);*/
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin: 8px auto;
    outline: none;
}

.programming_title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.programming__content {
    width: 94.74%;
    margin: 0 auto;
}

.programming__description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.programming__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}


/* childs course english */

.course-english {
    width: 25%;
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    outline: none;
}

.english_title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.english__content {
    width: 94.74%;
    margin: 0 auto;
}

.english__decription-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.english__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}

.course-english>.learn-more {
    width: 15.13%;
    max-width: 47px;
    /*margin-left: 33.22%;*/
    margin-left: calc(50% - 47px/2);
    margin-bottom: 7.89%;
}

.course-english>.learn-more p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
}

/* rent */

.rent {
    width: 100%;
    min-width: 320px;
    margin: 0 auto 56px auto;
    font-family: Montserrat;
    /*margin-bottom: 7.8%;*/
    padding-top: 14.375%;

}

.rent__title {
    width: 94.74%;
    margin: 0px auto 7.895% auto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.rent__wrapper {
    width: 92.5%;
    margin: 0 auto;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    padding-bottom: 24px;
}

.area__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}



.area__decsription-text {
    width: 94.74%;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.area__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-top: 16px;
    margin-left: 18.92%;
}

.rent .learn-more {
    margin: 24px auto 0px auto;
}

/* modal contact us */

.modal-contact-us-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    background-color: #FFFFFF;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.modal-contact-us-wrapper .modal-contact-us {
    /*width: 95%;*/
    /*width: 85%;*/
    margin: 0 auto;
    padding: 20px 0 88px 0;
    display: flex;
    flex-direction: column;
}

.modal-contact-us .close-modal-contact-us {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-contact-us .close-modal-contact-us img {
    cursor: pointer;
}

.modal-contact-us .contact-us-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.contact-us-form .form-title {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 32px;
    color: #505565;
}

.contact-us-form input {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    padding-bottom: 7px;
    color: #000000;
}

.contact-us-form button {
    margin-top: 20px;
    border: none;
    background: #FF505F;
    border-radius: 24px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    width: 100%;
    padding: 8px 0px;
    outline: none;
    transition: 0.2s;
}


.modal-contact-us .success-send-claim {
    display: none;
}


/* contact-us */

.contact-us {
    min-width: 320px;
    /*margin-top: 17.5%;*/
    background: #FAFAFC;
    padding-top: 16.25%;
    padding-bottom: 15.625%;
}

.contact-us-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #232735;
    margin-bottom: 78px;
}
.contact-us form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us form :nth-child(1) {
    margin-bottom: 42px;
}

.contact-us form :nth-child(2) {
    margin-bottom: 50px;
}

.contact-us form input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #E9E8E5;
    font-size: 16px;
    line-height: 24px;
    color: #8B90A0;
    outline: none;
    text-rendering: auto
}
.contact-us .contact-us-button {
    width: 100%;
    padding: 12px 0px;
    margin-bottom: 50px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    background: #FF505F;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info address,
.contact-info a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #505565;
    margin-bottom: 5%;
}

.contact-info :last-child {
    margin-bottom: 0;
}

/* footer */

.footer {
    background-color: #6E76F1;
    padding: 50px 0 20px 0;
}

.footer__map {
    width: 90%;
    margin: 0 auto;
}

.footer__map iframe {
    border-radius: 8px;
    width: 100%;
    margin-bottom: 32px;
}

.footer__company {
    text-align: center;
}

.footer__company p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}

@media screen and (min-width: 768px) {
    
    .headers {
        padding-left: 8.33%;
        padding-right: 8.724%;

    }

    .nav-wrap>.logo {
        font-style: 600;
        font-size: 22px;
    }

    .nav-wrap>.mobile-menu-button {
        margin-top: 2.87%;
        margin-bottom: 2.87%;
    }

    .main-header {
        height: 800px;
        background-image: url('../images/imgs-768/image-main.png');
        margin-bottom: 13.02%;
    }

    .header-title {
        width: 69.79%;
        margin-left: 6.25%;
        padding-top: 144px;
        font-weight: 600;
        font-size: 39px;
        line-height: 48px;
    }

    .header-title h4 {
        white-space: normal;
    }

    .header-title .second {
        font-weight: 600;
        font-size: 39px;
    }

    /*.adults {
        width: 91.67%;
        margin-bottom: 13%;
    }*/

    .adults {
        margin-bottom: 13%;
    }

    .adults__title {
        width: 90.91%;
        margin: 0 auto;
        font-size: 39px;
        line-height: 60px;
    }

    .courses-wrapper {
        width: 100%;
    }

    .courses-list {
        display: block;
        width: 100%;
        left: 0%;
    }

    .course-frontend {
        width: 91.67%;
        margin: 4.55% auto 0px auto;
        padding: 0 4.17% 4.77%  4.17%;
        margin-bottom: 4.17%;
    }

    .frontend__title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .frontend__content {
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .frontend__decription-text {
        text-align: initial
    }

    .frontend__img {
        width: 30.31%;
        margin-left: none;
    }

    .learn-more {
        width: 16.05%;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .get-info {
        font-size: 16px;
        line-height: 21px;
    }

    .get-info .arrow-right {
        width: 6.5%;
    }

    .course-marketing {
        width: 91.67%;
        margin: 0 auto;
        padding: 0 4.17% 4.77%  4.17%;
        margin-bottom: 4.17%;
    }

    .marketing__title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .marketing__content {
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .marketing__description-text {
        text-align: start;
    }

    .marketing__img {
        width: 30.31%;
        margin-left: none;
    }

    .course-copywriting {
        width: 91.67%;
        margin: 0 auto;
        padding: 0 4.17% 4.77%  4.17%;
        margin-bottom: 4.17%;
    }

    .copywriting__title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .copywriting__content {
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copywriting__decription-text {
        text-align: initial
    }

    .copywriting__img {
        width: 30.31%;
        margin-left: none;
    }

    .course-copywriting>.learn-more {
        width: 8%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    .course-copywriting>.learn-more p {
        font-size: 16px;
    }

    .controls {
        display: none;
    }

    .childs {
        margin-top: 0;
        padding-top: 6.5%;
        margin-bottom: 13%;
    }

    .childs__title {
        width: 90.91%;
        margin: 0px auto;
        font-size: 39px;
        line-height: 60px;
    }

    .childs .courses-list {
        display: block;
        width: 100%;
        left: 0%;
    }

    .course-programming {
        width: 91.67%;
        margin: 4.55% auto 0px auto;
        padding: 0 4.17% 4.77%  4.17%;
        margin-bottom: 4.17%;
    }

    .programming_title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .programming__content {
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .programming__description-text {
        text-align: initial
    }

    .programming__img {
        width: 30.31%;
        margin-left: none;
    }

    .course-english {
        width: 91.67%;
        margin: 0 auto;
        padding: 0 4.17% 4.77%  4.17%;
        margin-bottom: 6.5%;
    }

    .english_title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .english__content {
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .english__decription-text {
        text-align: initial
    }

    .english__img {
        width: 30.31%;
        margin-left: none;
    }

    .course-english>.learn-more {
        width: 8%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    .course-english>.learn-more p {
        font-size: 16px;
    }

    /*.rent {
        width: 91.67%;
        padding: 4.17% 4.17% 4.77%  4.17%;
        margin-bottom: 13%;
    }*/

    .rent {
        width: 100%;
        padding: 0 0;
    }

    .rent__wrapper {
        width: 91.67%;
        margin: 0 auto;
        padding: 0 4.17% 4.77%  4.17%;
    }

    .rent__title {
        width: 90.91%;
        margin: 0px auto 4.55% auto;
        font-size: 39px;
        line-height: 60px;
    }

    .area__title {
        width: 56.82%;
        margin: 0px 0px;
        font-size: 26px;
        line-height: 32px;
        text-align: start;
    }

    .area__content {
        display: flex;
        justify-content: space-between;
    }

    .area__decsription-text {
        text-align: start;
    }

    .contact-us {
        margin: 0 auto;
        padding-top: 6.77%;
        padding-bottom: 6.5%;;
    }

    .contact-us-title {
        font-size: 39px;
        line-height: 60px;  
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-bottom: 6.5%;
    }

    .contact-us form {
        width: 39.71%;
    }

    .contact-us form :nth-child(1) {
        margin-bottom: 13.77%;
    }
    .contact-us form :nth-child(2) {
        margin-bottom: 16.57%;
    }

    .contact-us .contact-us-button {
        margin-bottom: 26.49%;
    }

    .contact-info address,
    .contact-info a{
        margin-bottom:  2.08%;
    }

    .footer {
        background-color: #6E76F1;
        padding: 50px 0 20px 0;
    }

    .footer__map {
        width: 83.33%;
    }
}


@media screen and (min-width: 834px){
    .preheader {
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1.48%;
        padding-bottom: 2.4%;
    }

    .preheader .preheader-link {
        color: #fff;
        margin-left: 4.36%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header .preheader .preheader-link img {
        margin-right: 6px;
    }

    .nav-wrap>.mobile-menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .logo {
        font-size: 22px;
        line-height: 32px;
    }

    .nav-menu {
        /*display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;*/
        display: block;
        
    }

    .nav-menu .nav-link,
    .nav-menu .nav-button {
        color: #fff;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        cursor: pointer;
    }

    .nav-menu .nav-link {
        margin-right: 32px;
    }

    .nav-menu .nav-button {
        box-sizing: border-box;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
        padding: 3px 12px;
        transition: 0.2s;
        background: rgba(110, 118, 241, 1);
        margin-bottom: 3.5%;
    }

    .main-header {
        background-image: url('../images/imgs-834/image-main.png');
        margin-bottom: 11.99%;
    }

    .header-title {
        font-weight: bold;
        font-size: 46px;
        line-height: 64px;
    }

    .adults {
        margin-bottom: 11.99%;
    }

    .adults__title {
        width: 87.5%;
    }

    .childs {
        margin-bottom: 0px;
    }

    .childs__title {
        width: 87.5%;
        margin-block-end: 0px;
    }

    .course-english{
        margin-bottom: 5.99%;
    }

    .rent {
        padding-top: 11.9%;

    }

    @media screen and (min-width: 1024px) {
        .headers {
            padding-left: 5%;
            padding-right: 5%;
    
        }

        .main-header {
            margin-bottom: 9.77%;
        }

        .course-frontend {
            width: 93.97%;
            padding: 3.125% auto 0px auto;
        }

        .frontend__title {
            padding-top: 3.48%;
        }

        .course-marketing {
            width: 93.97%;
        }

        .marketing__title {
            padding-top: 3.48%;
        }

        .course-copywriting {
            width: 93.97%;
        }

        .copywriting__title {
            padding-top: 3.48%;
        }

        .course-programming {
            width: 89.84%;
        }

        .programming_title {
            padding-top: 3.48%;
        }

        .course-english {
            width: 89.84%;
        }

        .english_title {
            padding-top: 3.48%;
        }

        /*.rent {
            width: 90%;
        }*/
        .rent__wrapper {
            width: 89.84%;
        }

        .rent__area {
            width: 100%;
            /*box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
            border-radius: 8px;*/
        }

    }

}

