@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header {
    width: 100vw;
    min-width: 320px;
    /*background: rgba(110, 118, 241, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(5px); /* Note: backdrop-filter has minimal browser support */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.headers {
    width: 100%;
    /*position: relative;*/
    background: rgba(110, 118, 241, 0.7);
    mix-blend-mode: normal;
    backdrop-filter: blur(7px);
    /*z-index: 999;*/
}

.nav-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-wrap>.logo {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
}

.nav-wrap>.mobile-menu {
    margin-top: 7px;
    width: 7,5%;
}

.mobile-menu-wrap {
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
    display: block;
}

.main-header {
    width: 100%;
    min-width: 320px;
    height: 420px;
    padding-top: 55.125%;
    padding-bottom: 43.125%;
    margin-bottom: 15.625%;
    background-image: url('./images/image-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-title {
    width: 90%;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 27px;
    color: white;
}

.header-title .first {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    background: #757CD5;
    background: rgba(117, 124, 213, 0.7);
}

.header-title .second {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    background: #757CD5;
    background: rgba(117, 124, 213, 0.7);
}

/* adults courses(frontend, marketing, copywriting) info */

.adults {
    width: 95%;
    min-width: 304px;
    margin: 0 auto;
    font-family: Montserrat;
}

.adults__title {
    width: 94.74%;
    margin: 0px auto 7.895% auto;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

/* adults course frontend */

.course-frontend {
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin-bottom: 8.88%;
}

.frontend__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.frontend__content {
    width: 94.74%;
    margin: 0 auto;
}

.frontend__decription-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.frontend__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-left: 18.92%;
}

.learn-more {
    width: 33.22%;
    max-width: 101px;
    /*margin-left: 33.22%;*/
    margin-left: calc(50% - 101px/2);
}

.get-info {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.get-info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
}

.get-info .arrow-right {
    width: 6%;
    color: #505565;
}

/* adults course marketing */

.course-marketing {
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin-bottom: 16.78%;
}

.marketing__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.marketing__content {
    width: 94.74%;
    margin: 0 auto;
}

.marketing__description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.marketing__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-left: 18.92%;
}

/* adult course copywriting */

.course-copywriting {
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(61, 44, 111, 0.1);
    border-radius: 8px;
    margin-bottom: 17.44%;
}

.copywriting__title {
    width: 94.74%;
    margin: 0 auto;
    padding-top: 7.89%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF585F;
    text-align: center;
}

.copywriting__content {
    width: 94.74%;
    margin: 0 auto;
}

.copywriting__decription-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #232735;
}

.copywriting__img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 65.625%;
    margin-left: 18.92%;
}

.course-copywriting>.learn-more {
    width: 15.13%;
    max-width: 47px;
    /*margin-left: 33.22%;*/
    margin-left: calc(50% - 47px/2);
    margin-bottom: 7.89%;
}

.course-copywriting>.learn-more p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #505565;
}


/* child courses(programming, eanglish) */
.childs {
    width: 95%;
    min-width: 304px;
    margin: 0 auto;
    font-family: Montserrat;
}




 